.side-bar-container {
  background-color: #eee8e4;
  width: 250px;
  min-width: 250px ;
  height: calc(100vh - 70px);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  &__list {
    list-style: none;
    padding: 0;
  }
  &__list-item {
    padding: 5px 10px;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    border-bottom: 2px solid black;
  }
}
