.side-bar-container {
  background-color: #ddddda;
  width: 250px;
  height: calc(100vh - 70px);

  &__list {
    list-style: none;
    padding: 0;
  }
  &__list-item {
    padding: 5px 10px;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    border-bottom: 2px solid black;
  }
}
